cattle.pc
programs

.deps
.libs
*.o
*.lo
*.la
Makefile
Makefile.in
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
depcomp
ltmain.sh
install-sh
missing
mkinstalldirs
aclocal.m4
compile
libtool
stamp-h1
autom4te.cache
*.bak
*.swp
*~
